langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8

faiss-cpu==1.12.0
sentence-transformers==5.0.0
transformers==4.53.1
huggingface-hub==0.33.2

pypdf==5.7.0
python-dotenv==1.1.1

streamlit==1.46.1

fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9